.header {
  width: 100%;
  height: 135px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  .header_top {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header_top_item {
      width: 95%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;

      .logo {
        width: 15%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 96px;
          height: 41px;
        }
      }
      .search {
        width: 30%;
        height: 100%;

        display: flex;
        align-items: center;
        .search_item {
          width: 90%;
          height: 40px;
          border-radius: 10px;
          background-color: rgb(248, 248, 248);
          box-shadow: 0 0 1.5px #989898;
          display: flex;
          justify-content: center;
          align-items: center;
          [type="search"] {
            width: 90%;
            height: 40px;
            background-color: transparent;
            border-radius: 10px;
            border: none;
            outline: unset;
            font-size: 16px;
            font-family: shabnam;
            padding: 10px;
            box-sizing: border-box;
            ::placeholder {
              color: gray;
            }
          }
        }
      }
      .about {
        display: flex;
        width: 35%;
        height: 100%;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        column-gap: 25px;
        .about_link {
          width: fit-content;
          height: 100%;
          display: flex;
          align-items: center;
          .about_link_item {
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: #2b2b2b;
            opacity: 0.7;
            transition: 200ms;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .login {
        width: 20%;
        height: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
        .cart {
          display: flex;
          opacity: 0.7;
          width: 42px;
          height: 42px;
          background-color: rgb(239, 239, 239);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          svg {
            &:hover {
              transition: 500ms;
              fill: navy;
            }
          }
        }
        .signup {
          width: 100px;
          height: 40px;
          background-color: #0a5abd;
          border-radius: 10px;
          display: flex;
          text-align: center;
          line-height: 35px;
          justify-content: center;
          &:hover {
            background-color: darkblue;
          }
          a {
            font-family: shabnam;
            font-size: 15px;
            color: whitesmoke;
            transition: 100ms;
            text-decoration: none;
          }
        }
      }
    }
  }
  .header_menu {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header_menu_nav {
      width: 95%;
      height: 100%;
      flex-flow: row wrap;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .header_menu_nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        position: relative;

        .zirmenu0 {
          width: 1180px;
          height: fit-content;
          position: absolute;
          background-color: #fff;
          top: 57px;
          left: 0;
          z-index: 9;
          display: none;
          box-sizing: border-box;

          .div1 {
            width: 100%;
            height: fit-content;
            display: flex;
            border-bottom: 0.5px solid #999999;
            .d1 {
              width: 25%;
              height: fit-content;
              display: flex;
              flex-flow: column;
              box-sizing: border-box;
              border-left: 0.5px solid #999999;

              a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                font-family: shabnam2;
                color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                font-size: 0.75rem;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 40px;
                padding-right: 10px;
                padding-left: 10px;
                &:hover {
                  color: #0a5abd;
                  background-color: antiquewhite;
                }
              }
            }
            .d2 {
              width: 25%;
              height: fit-content;
              border-left: 0.5px solid #999999;
              a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                font-family: shabnam2;
                color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                font-size: 0.75rem;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 40px;
                padding-right: 10px;
                padding-left: 10px;
                &:hover {
                  color: #0a5abd;
                  background-color: antiquewhite;
                }
              }
            }
            .d3 {
              width: 25%;
              height: fit-content;
              border-left: 0.5px solid #999999;
              a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                font-family: shabnam2;
                color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                font-size: 0.75rem;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 40px;
                padding-right: 10px;
                padding-left: 10px;
                &:hover {
                  color: #0a5abd;
                  background-color: antiquewhite;
                }
              }
            }
            .d4 {
              width: 25%;
              height: fit-content;
              a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                font-family: shabnam2;
                color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                font-size: 0.75rem;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 40px;
                padding-right: 10px;
                padding-left: 10px;
                &:hover {
                  color: #0a5abd;
                  background-color: #f0f0f0;
                }
              }
            }
          }
          .div2 {
            width: 100%;
            height: 25px;
            background-color: #fff;
            a {
              font-family: shabnam2;
              text-decoration: none;
              font-size: 13px;
              color: crimson;
              padding: 10px 10px;
              span {
                padding: 5px;
              }
            }
          }
        }
        &:hover .zirmenu0 {
          display: block;
        }

        .zirmenu {
          width: 300px;
          height: fit-content;
          position: absolute;
          display: none;
          top: 57px;
          right: 0;
          z-index: 9;
          background-color: #fff;

          div {
            width: 100%;
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            margin-bottom: 1px;
            position: relative;

            a {
              width: 100%;
              text-decoration: none;
              font-family: shabnam2;
              color: rgba(0, 0, 0, 0.6);
              box-sizing: border-box;
              font-size: 0.75rem;
              align-items: center;
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 40px;
              padding-right: 10px;
              position: relative;
              span {
                position: absolute;
                left: 20px;
              }
              &:hover {
                color: #0a5abd;
                background-color: #f0f0f0;
              }
            }

            .zirmenu2 {
              width: 300px;
              height: fit-content;
              background-color: #fff;
              position: absolute;
              top: 0;
              right: 100%;
              display: flex;
              align-items: center;
              flex-flow: row wrap;
              display: none;

              a {
                text-decoration: none;
                font-family: shabnam;
                color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                font-size: 0.75rem;

                &:hover {
                  color: #0a5abd;
                }
              }
            }
            &:hover .zirmenu2 {
              display: block;
            }
          }
        }
        &:hover .zirmenu {
          display: block;
        }
      }

      .header_menu_nav_item_link_1 {
        color: crimson;
        text-decoration: none;
        font-family: shabnam;
        border-bottom: crimson 3px solid;
        line-height: 50px;
      }

      .header_menu_nav_item_link {
        display: flex;
        width: fit-content;
        align-items: center;
        height: 55px;
        text-decoration: none;
        font-family: shabnam;
        font-size: 14.5px;
        color: gray;
        transition: 100ms;

        &:hover {
          transition: 100ms;
          color: crimson;
          border-bottom: 2px crimson solid;
        }
      }
    }
  }
}
