.porforoosh {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  .porforoosh_main {
    width: 1180px;
    height: 560px;

    background-color: #e2e2e2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .porforoosh_main_item {
      width: 100%;
      height: 600px;
      flex-flow: column wrap;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      .porforoosh_main_item_h1 {
        width: 100%;
        height: 10%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        padding-bottom: 30px;
        padding-top: 20px;
        column-gap: 590px;
        font-family: shabnam;
        h4 {
          padding-top: 40px;
          font-size: 1.25rem;
          color: #757575;
        }
        h6 {
          padding-top: 40px;
          font-size: 0.875rem;
          color: #4e5e60;
          font-weight: 400;
          span {
            margin: 6px;
          }
        }
      }

      .porforoosh_main_item_swiper {
        width: 100%;
        height: 500px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .swiper {
          width: 90%;
          height: 500px;
        }

        .swiper-slide {
          width: 550px;
          height: 430px;
          display: flex;
          font-size: 18px;
          justify-content: center;
          flex-flow: column;
          background-color: #fff;
          font-family: shabnam2, sans-serif;
          border-radius: 10px;
          transition: 300ms;

          &:hover {
            .name {
              color: #0a5abd;
            }
          }

          .explain {
            width: 100%;
            height: 35px;
            color: #a3a3a3;
            font-size: 0.75rem;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .name {
            width: 100%;
            height: 50px;
            font-size: 0.875rem;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .off {
            width: 100%;
            height: 35px;
            font-size: 0.875rem;
            color: #9b2c2c;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;

            del {
              color: rgba(0, 0, 0, 0.6);
              margin-right: 150px;
            }
          }
          .price {
            width: 100%;
            height: 35px;
            color: #0a5abd;
            margin-right: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: rgba(0, 0, 0, 0.6);
              font-size: 0.75rem;
            }
          }
        }
        .swiper-slide img {
          width: 100%;
          height: 272px;
          object-fit: cover;
          border-radius: 10px;
          display: block;
        }
      }
    }
  }
}
